<header class="header">
  <div class="container">
    <div class="row">
      <div class="logo col-md-3">
        <h1>RBC Parse</h1>
      </div>
      <div class="header-slogan col-md-4">
        Архив новостей сайта rbc.ru
      </div>
      <div class="header-filter col-md-5">
        Место для фильтра
      </div>
    </div>
  </div>
</header>
<section class="form-section">
  <div class="container">
    <div class="panel">
      <div class="form-inline">
        <div class="form-group">
          <div class="">
            <input class="form-control" [(ngModel)]="header" placeholder = "Заголовок" />
          </div>
        </div>
        <div class="form-group">
          <div class="">
            <input type="date" class="form-control" [(ngModel)]="date" placeholder="Дата" />
          </div>
        </div>
        <div class="form-group">
          <div class="">
            <input type="text" class="form-control" [(ngModel)]="fullText" placeholder="Текст" />
          </div>
        </div>
        <div class="form-group">
          <div class="">
            <button class="btn btn-primary" (click)="addNewsItem(header, date, fullText)">Добавить</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="content-section">
  <div class="container"
       infiniteScroll
       [infiniteScrollDistance]="1"
       [infiniteScrollThrottle]="10"
       (scrolled)="onScroll()"
  >
    <article  *ngFor="let item of news" class="card">
      <div class="card-body">
        <h2 class="card-title">{{item.header}}</h2>
        <sup class="card-subtitle mb-2 text-muted">{{item.date}}</sup>
        <p class="card-text">{{item.previewText}}</p>
        <p style="display: none;">{{item.fullText}}</p>
        <input type="button" class="btn btn-primary" value="Читать полностью" />
      </div>
    </article>
  </div>
</section>
<button class="btn btn-primary" (click)="sendRequest()">Запрос</button>
