<header class="header">
  <div class="container">
    <div class="row">
      <div class="logo col-md-3">
        <h1>RBC Parse</h1>
      </div>
      <div class="header-slogan col-md-6">
        <app-top-search></app-top-search>
      </div>
      <div class="header-filter col-md-3">
        <div class="float-right">
          <app-datepicker></app-datepicker>
        </div>
      </div>
    </div>
  </div>
</header>
<section class="content-section">
  <div class="container"
       infiniteScroll
       [infiniteScrollDistance]="1"
       [infiniteScrollThrottle]="10"
       (scrolled)="onScroll()"
  >
    <div class="row">
      <div class="col-md-9">
        <h2>Новости</h2>
        <ng-template [ngIf]="articles.length > 0">
        <article *ngFor="let item of articles" class="card article-item">
          <div class="card-body container" data-article-id="{{item.id}}">
            <div class="row">
              <div class="col-md-4" *ngIf="item.image.length > 0">
                <img src="{{item.image}}" class="preview-image">
              </div>
              <div class="col-md-8">
                <h2 class="card-title">{{item.title}}</h2>
                <sup class="card-subtitle mb-2 text-muted">{{item.publishDate}}</sup>
                <p class="card-text">{{item.description}}</p>
                <button mat-raised-button appTippy title="{{item.anons}}" data-article-id="{{item.id}}" (click)="openFullArticle(item.id)">Читать полностью</button>
              </div>
            </div>
          </div>
        </article>
        </ng-template>
        <ng-template [ngIf]="articles.length === 0" >
          <p>Новостей не найдено!</p>
        </ng-template>
      </div>
      <div class="col-md-3">
        <app-tags-cloud></app-tags-cloud>
      </div>
    </div>
  </div>
</section>
<app-scroll-top></app-scroll-top>
