
:host {

}

.header {
  /*height: 70px;*/
  border-bottom: 1px solid black;
}
.form-section {
  padding: 15px 0;
  border-bottom: 1px solid black;
}
.content-section {
  padding: 15px 0;
}

.preview-image {
  max-width: 100%;
  height: auto;
}
.article-item {
  margin-bottom: 13px;
}
